JWT_SECRET=ADD_YOUR_JWT_SECRET
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
REFRESH_TOKEN_MAX_AGE=604800000

# This is DATABASE_URL for docker-compose in api
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"
NODE_ENV='development'
