# Dependencies
node_modules/
**/node_modules/

# Build outputs
**/dist/
**/.next/
**/out/

# Environment variables
**/.env
**/.env.*
!.env.example

# Logs
**/*.log
**/logs/

# Cache
**/.turbo/
**/.nx/
**/.cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
**/*.sqlite
**/*.db
**/migrations

# Test coverage
**/coverage/
